<div class="banner">
</div>

<div class="container">
  <br>
  <h1>Doses</h1>

  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
